body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

header {
  display: block;
  height: 5vh;
  overflow: auto;
  background-color: pink;
  color: red;
}

.container {
  height: 95vh;
  display: flex;
}

pre {
  background-color: #f8f8ff;
}

pre,
textarea {
  width: 50%;
  font-size: 30px;
  font-family: monospace;
  margin: 0;
  padding: 10px;
  color: tomato;
}

textarea:focus {
  outline: none;
}
